<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="icon64.ico">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Aquário</title>
  <style>
    body{
        background-color: #afdde580 ;
    }

    @font-face {
    font-family: 'water_parkregular';
    src: url('waterFont/waterhole-webfont.woff2') format('woff2'),
         url('waterFont/waterhole-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    h1 {
			font-family: 'water_parkregular';
      margin-left:100px;
      margin-top:0px;
      font-size: 40px;
    }
    
  </style>
</head>
<body>
<h1>Aquário</h1>
<div style="width: 430px; height: 300px;margin-top: 20px; margin-left: 10px;">
  <canvas id="temperatureChart" width="430px" height="400px"></canvas>
</div>

</body>
<script>
    var aquariumValues = <%-JSON.stringify(aquariumValues)%>;
    const ctx = document.getElementById('temperatureChart').getContext('2d');
    const temperatureChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [aquariumValues[0].time, aquariumValues[1].time, aquariumValues[2].time, aquariumValues[3].time, aquariumValues[4].time],
        datasets: [{
          label: 'Temp. Água (Cº)',
          data: [aquariumValues[0].waterTemp, aquariumValues[1].waterTemp, aquariumValues[2].waterTemp, aquariumValues[3].waterTemp, aquariumValues[4].waterTemp],
          borderColor: '#3F00FF',
          backgroundColor: 'rgba(75, 192, 192, 0.1)',
          borderWidth: 2,
          pointRadius: 5,
          },{
          label: 'Temp. Ar (Cº)',
          data: [aquariumValues[0].airTemp, aquariumValues[1].airTemp, aquariumValues[2].airTemp, aquariumValues[3].airTemp, aquariumValues[4].airTemp],
          borderColor: '#0096FF',
          backgroundColor: 'rgba(75, 192, 192, 0.1)',
          borderWidth: 2,
          pointRadius: 5,
          },{
          label: 'Humidade (%)',
          data: [aquariumValues[0].humidity, aquariumValues[1].humidity, aquariumValues[2].humidity, aquariumValues[3].humidity, aquariumValues[4].humidity],
          borderColor: '#00A36C',
          backgroundColor: 'rgba(75, 192, 192, 0.1)',
          borderWidth: 2,
          pointRadius: 5,
          }]
      },
      options: {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Hora'
            }
          }]
        }
      }
    });
</script>
</html>