<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartHome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #AFDDE5;
        }

        .container {
            margin-top: 0px;
        }

        h1 {
            color: #333;
        }

        .buttons {
            margin-top: 10px;
        }

        .button {
            display: inline-block;
            padding: 20px 40px;
            margin: 10px;
            background-color: #0FA4AF;
            color: white;
            font-size: 20px;
            text-decoration: none;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #003135;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="buttons">
            <button class="button" onclick="goToPage('jacuzzi.html')"><svg height="80px" width="80px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 512.001 512.001" xml:space="preserve">
           <g>
               <path style="fill:#F0A479;" d="M94.571,290.448c-0.638,15.454,1.874,31.718,2.57,46.052c0.689,14.223,12.466,25.093,26.292,25.093
                   c1.184,0,2.38-0.079,3.587-0.243c13.392-1.816,23.241-13.465,22.809-26.973l-1.458-45.437l48.475-25.577v98.171
                   c0,9.764,35.169,14.648,70.332,14.648c35.171,0,70.335-4.882,70.335-14.65v-98.17l31.733,16.743l14.642,7.725l2.101,1.108
                   l-0.786,24.5l-0.672,20.936c-0.434,13.508,9.416,25.155,22.809,26.973c1.206,0.164,2.405,0.243,3.587,0.243
                   c13.827,0,25.6-10.865,26.292-25.089c1.805-37.08,8.898-70.602-23.838-96.439c-18.085-14.274-35.745-30.481-54.592-43.592
                   c-12.004-8.35-26.172-11.763-40.502-13.374c-16.055-1.805-28.121,3.62-43.768,3.62h-9.437h-9.438
                   c-11.672,0-21.746-4.711-33.347-4.507c-27.646,0.485-44.875,13.481-66.325,28.568c-19.203,13.507-40.034,27.538-52.78,47.778
                   C97.245,268.004,95.043,279.005,94.571,290.448z"/>
               <path style="fill:#F0A479;" d="M279.754,158.319c16.313-2.399,28.835-16.448,28.835-33.426v-18.178
                   c0-18.664-15.129-33.793-33.794-33.793h-18.178c-18.664,0-33.793,15.129-33.793,33.793v18.179
                   c0,16.976,12.523,31.026,28.833,33.426c4.023,0,8.665-0.001,14.051-0.001C271.094,158.319,275.734,158.319,279.754,158.319z"/>
           </g>
           <g>
               <path style="fill:#E03905;" d="M426.683,167.467c-6.23,0-12.316-3.129-15.834-8.819c-13.021-21.062-7.334-43.05-2.762-60.717
                   c2.638-10.197,5.366-20.74,2.582-25.436c-5.236-8.835-2.319-20.24,6.515-25.476c8.833-5.236,20.239-2.319,25.476,6.514
                   c10.668,18,5.545,37.801,1.429,53.711c-3.91,15.112-5.969,24.797-1.609,31.848c5.4,8.734,2.696,20.193-6.038,25.594
                   C433.398,166.57,430.018,167.467,426.683,167.467z"/>
               <path style="fill:#E03905;" d="M488.502,167.467c-6.23,0-12.317-3.13-15.834-8.819c-13.021-21.062-7.332-43.05-2.762-60.716
                   c2.638-10.198,5.366-20.742,2.582-25.437c-5.236-8.835-2.319-20.24,6.515-25.476c8.833-5.236,20.24-2.319,25.476,6.514
                   c10.668,18,5.546,37.801,1.429,53.712c-3.909,15.111-5.967,24.796-1.609,31.847c5.4,8.736,2.696,20.193-6.038,25.594
                   C495.216,166.57,491.838,167.467,488.502,167.467z"/>
           </g>
           <path style="fill:#CCF7F5;" d="M63.658,195.022C28.557,195.022,0,166.465,0,131.363c0-10.238,2.485-20.359,7.205-29.409
               c0.291-0.688,0.626-1.362,1.005-2.018L47.415,32.03c3.322-5.753,9.461-9.297,16.104-9.297s12.782,3.544,16.104,9.297l36.777,63.705
               c7.143,10.555,10.914,22.855,10.914,35.629C127.313,166.465,98.757,195.022,63.658,195.022z"/>
           <path style="fill:#74D6D0;" d="M461.84,339.648c-2.268,26.362-24.262,46.738-50.913,46.738c-2.302,0-4.63-0.159-6.921-0.469
               c-19.919-2.702-35.727-16.473-41.702-34.549v10.166c0,5.768-1.966,20.123-20.178,28.794c-5.743,2.735-12.966,4.884-22.079,6.572
               c-14.198,2.628-32.975,4.076-52.869,4.076c-19.891,0-38.665-1.448-52.864-4.077c-9.112-1.686-16.334-3.837-22.077-6.57
               c-18.215-8.67-20.181-23.025-20.181-28.795v-10.169c-5.974,18.078-21.781,31.849-41.703,34.552c-2.291,0.31-4.619,0.467-6.92,0.467
               c-27.073,0-49.338-21.025-51.005-47.993c-33.674,16.68-52.636,36.958-52.636,56.842c0,22.742,24.798,45.995,68.037,63.795
               c47.361,19.499,110.601,30.239,178.068,30.239c67.468,0,130.707-10.739,178.069-30.239c43.238-17.801,68.036-41.053,68.036-63.795
               C512,375.846,493.959,356.084,461.84,339.648z"/>
           <path style="fill:#CCF7F5;" d="M269.615,400.964c-0.811,0.005-1.621,0.011-2.436,0.011c-19.891,0-38.665-1.448-52.864-4.077
               c-9.112-1.686-16.334-3.837-22.077-6.57c-18.215-8.67-20.181-23.025-20.181-28.795v-10.169
               c-5.974,18.078-21.781,31.849-41.703,34.552c-2.291,0.31-4.619,0.467-6.92,0.467c-27.073,0-49.338-21.025-51.005-47.993
               c-33.673,16.68-52.636,36.957-52.636,56.842c0,22.742,24.798,45.995,68.037,63.795c47.361,19.499,110.601,30.239,178.068,30.239
               c1.242,0,2.479-0.011,3.719-0.019v-88.285H269.615z"/>
           <g>
               <path style="fill:#F5CDB3;" d="M269.615,186.721h-13.97c-11.672,0-21.746-4.711-33.347-4.507
                   c-27.646,0.486-44.875,13.481-66.325,28.568c-19.203,13.507-40.034,27.538-52.78,47.778c-5.948,9.445-8.148,20.445-8.621,31.888
                   c-0.638,15.454,1.874,31.718,2.57,46.052c0.689,14.223,12.466,25.093,26.292,25.093c1.184,0,2.38-0.079,3.587-0.243
                   c13.392-1.816,23.241-13.465,22.809-26.973l-1.458-45.437l48.475-25.577v98.171c0,9.764,35.169,14.648,70.332,14.648
                   c0.812,0,1.624-0.005,2.436-0.011V186.721H269.615z"/>
               <path style="fill:#F5CDB3;" d="M269.615,72.922h-12.996c-18.664,0-33.793,15.129-33.793,33.793v18.179
                   c0,16.976,12.523,31.026,28.833,33.426c4.023,0,8.665,0,14.051,0c1.347,0,2.648,0,3.904,0V72.922H269.615z"/>
           </g>
           </svg></button><br>
            <button class="button" onclick="goToPage('aquarium.html')"><svg height="80px" width="80px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 511.978 511.978" xml:space="preserve">
           <path style="fill:#E6E9ED;" d="M450.044,57.043c-2.031-2.359-4.969-3.719-8.078-3.719H70.012c-3.102,0-6.054,1.359-8.078,3.719
               C21.99,103.416,0,162.71,0,223.989c0,50.357,14.608,99.089,42.256,140.932c26.937,40.779,64.693,72.872,109.175,92.794
               c1.367,0.609,2.859,0.938,4.359,0.938h200.398c1.5,0,2.984-0.328,4.359-0.938c44.482-19.922,82.246-52.015,109.183-92.794
               c27.64-41.843,42.248-90.574,42.248-140.932C511.978,162.71,489.979,103.416,450.044,57.043z"/>
           <path style="fill:#5D9CEC;" d="M469.324,127.993l-21.343,10.672l-21.343-10.672l-21.312,10.672l-21.344-10.672l-21.342,10.672
               l-21.312-10.672l-21.342,10.672l-21.343-10.672l-21.312,10.672l-21.342-10.672l-21.335,10.672l-21.327-10.672l-21.335,10.672
               l-21.335-10.672l-21.327,10.672l-21.335-10.672l-21.335,10.672l-21.328-10.672l-21.334,10.672l-23.164-10.672l-19.499,10.672h-6.688
               C5.039,165.851,0,194.694,0,223.989c0,50.357,14.608,99.089,42.256,140.932c26.937,40.779,64.693,72.872,109.175,92.794
               c1.367,0.609,2.859,0.938,4.359,0.938h200.398c1.5,0,2.984-0.328,4.359-0.938c44.482-19.922,82.246-52.015,109.183-92.794
               c27.64-41.843,42.248-90.574,42.248-140.932c0-29.295-5.031-58.123-14.655-85.324h-6.688L469.324,127.993z"/>
           <path style="fill:#E9573F;" d="M220.858,227.129l-21.32-21.312c-4.164-4.171-10.914-4.171-15.085-0.016
               c-4.164,4.172-4.164,10.922,0,15.093l13.781,13.78l-13.781,13.766c-4.164,4.172-4.164,10.922,0,15.093
               c2.086,2.078,4.812,3.125,7.547,3.125c2.726,0,5.46-1.047,7.539-3.125l21.32-21.327C225.021,238.05,225.021,231.301,220.858,227.129
               z"/>
           <g>
               <path style="fill:#A0D468;" d="M415.983,415.981c-4.469,0-8.625-2.828-10.125-7.297c-0.625-1.875-15.125-46.561,0-92.058
                   c12.844-38.624,0.125-78.232,0-78.623c-1.844-5.593,1.188-11.625,6.781-13.468c5.594-1.844,11.609,1.172,13.468,6.75
                   c0.625,1.89,15.124,46.561,0,92.058c-12.843,38.624-0.125,78.232,0,78.623c1.844,5.593-1.187,11.624-6.78,13.468
                   C418.218,415.809,417.077,415.981,415.983,415.981z"/>
               <path style="fill:#A0D468;" d="M95.995,415.981c-1.117,0-2.25-0.172-3.367-0.547c-5.586-1.859-8.609-7.891-6.758-13.468
                   c0.188-0.594,12.812-40.093,0-78.623c-15.132-45.497-0.625-90.168,0-92.058c1.859-5.593,7.898-8.609,13.492-6.75
                   c5.586,1.859,8.617,7.89,6.758,13.483c-0.125,0.375-12.843,39.983,0,78.607c15.132,45.497,0.625,90.183,0,92.058
                   C104.628,413.153,100.464,415.981,95.995,415.981z"/>
               <path style="fill:#A0D468;" d="M138.666,415.981c-1.078,0-2.171-0.156-3.25-0.5c-5.602-1.797-8.695-7.781-6.93-13.374
                   c0.141-0.438,5.609-18.672,0.016-36.218c-7.757-24.297-0.32-48.138,0-49.153c1.789-5.609,7.789-8.703,13.406-6.906
                   c5.609,1.781,8.703,7.781,6.914,13.404c-0.047,0.141-5.641,18.515,0,36.171c7.757,24.296,0.32,48.154,0,49.154
                   C147.377,413.091,143.181,415.981,138.666,415.981z"/>
               <path style="fill:#A0D468;" d="M373.328,415.997c-4.531,0-8.718-2.906-10.171-7.438c-0.328-1-7.766-24.858,0-49.154
                   c5.64-17.656,0.047-36.03-0.016-36.218c-1.781-5.607,1.312-11.592,6.937-13.373c5.594-1.797,11.609,1.312,13.405,6.922
                   c0.312,1.016,7.75,24.856,0,49.153c-5.64,17.671-0.062,36.03,0,36.218c1.797,5.608-1.312,11.593-6.905,13.39
                   C375.484,415.841,374.39,415.997,373.328,415.997z"/>
           </g>
           <path style="fill:#965353;" d="M287.988,330.656H223.99c-5.89,0-10.663,4.766-10.663,10.655v63.998
               c0,5.891,4.773,10.672,10.663,10.672h63.998c5.891,0,10.656-4.781,10.656-10.672v-63.998
               C298.644,335.422,293.879,330.656,287.988,330.656z"/>
           <polygon style="fill:#FFCE54;" points="213.327,351.983 213.327,373.311 298.644,373.311 298.644,351.983 266.653,351.983 
               266.653,330.656 245.325,330.656 245.325,351.983 "/>
           <path style="fill:#4A89DC;" d="M21.335,149.32c1.789,0,3.546-0.438,5.117-1.297l14.789-8.093l18.296,8.421
               c2.938,1.344,6.335,1.297,9.234-0.156l16.562-8.281l16.562,8.281c3,1.5,6.531,1.5,9.539,0l16.562-8.281l16.562,8.281
               c3,1.5,6.539,1.5,9.538,0l16.562-8.281l16.562,8.281c3.008,1.5,6.539,1.5,9.546,0l16.562-8.281l16.562,8.281
               c3,1.5,6.531,1.5,9.539,0l16.56-8.281l16.562,8.281c3,1.5,6.531,1.5,9.531,0l16.562-8.281l16.562,8.281c3.016,1.5,6.547,1.5,9.562,0
               l16.562-8.281l16.562,8.281c3,1.5,6.531,1.5,9.531,0l16.561-8.281l16.562,8.281c3,1.5,6.531,1.5,9.531,0l16.562-8.281l16.562,8.281
               c3.016,1.5,6.547,1.5,9.562,0l16.562-8.281l16.562,8.281c1.469,0.75,3.094,1.125,4.75,1.125l10.202,0.031
               c-2.203-7.234-4.718-14.358-7.546-21.358h-0.125l-19.093-9.547c-3-1.5-6.531-1.5-9.531,0l-16.562,8.281l-16.562-8.281
               c-3-1.5-6.53-1.5-9.53,0l-16.562,8.281l-16.562-8.281c-3.016-1.5-6.547-1.5-9.562,0l-16.562,8.281l-16.562-8.281
               c-3-1.5-6.531-1.5-9.531,0l-16.561,8.281l-16.562-8.281c-3-1.5-6.531-1.5-9.531,0l-16.562,8.281l-16.569-8.281
               c-3.008-1.5-6.539-1.5-9.546,0l-16.562,8.281l-16.562-8.281c-3-1.5-6.539-1.5-9.539,0l-16.562,8.281l-16.562-8.281
               c-3.008-1.5-6.539-1.5-9.539,0l-16.561,8.281l-16.562-8.281c-3.008-1.5-6.539-1.5-9.547,0l-16.562,8.281l-16.562-8.281
               c-3-1.5-6.539-1.5-9.539,0l-16.749,8.391l-18.515-8.531c-3.07-1.406-6.625-1.296-9.585,0.328l-16.992,9.297
               c-2.844,7.016-5.367,14.156-7.578,21.39h10.195V149.32z"/>
           <path style="fill:#FC6E51;" d="M266.645,266.675c-15.57,0-30.366-2.5-41.671-7.015c-19.42-7.766-22.327-19-22.327-24.984
               c0-6,2.906-17.217,22.327-24.999c11.305-4.516,26.101-7,41.671-7c15.562,0,30.374,2.484,41.687,7
               c19.404,7.781,22.31,18.999,22.31,24.999c0,5.984-2.905,17.219-22.31,24.984C297.019,264.175,282.207,266.675,266.645,266.675z"/>
           <path style="fill:#FFCE54;" d="M360.548,457.715c33.029-14.797,62.326-36.296,86.262-63.061H65.169
               c23.937,26.765,53.24,48.264,86.262,63.061c1.367,0.609,2.859,0.938,4.359,0.938h200.398
               C357.688,458.652,359.173,458.324,360.548,457.715z"/>
           <g>
               <path style="opacity:0.2;fill:#FFFFFF;enable-background:new    ;" d="M450.044,57.043c-2.031-2.359-4.969-3.719-8.078-3.719
                   h-21.327c3.094,0,6.046,1.359,8.077,3.719c39.936,46.373,61.919,105.667,61.919,166.946c0,50.357-14.593,99.089-42.248,140.932
                   c-26.936,40.779-64.686,72.872-109.184,92.794c-1.359,0.609-2.844,0.938-4.344,0.938h21.328c1.5,0,2.984-0.328,4.359-0.938
                   c44.482-19.922,82.246-52.015,109.183-92.794c27.64-41.843,42.248-90.574,42.248-140.932
                   C511.978,162.71,489.979,103.416,450.044,57.043z"/>
               <path style="opacity:0.2;fill:#FFFFFF;enable-background:new    ;" d="M61.935,57.043c2.023-2.359,4.976-3.719,8.078-3.719h21.335
                   c-3.102,0-6.055,1.359-8.086,3.719C43.326,103.416,21.335,162.71,21.335,223.989c0,50.357,14.609,99.089,42.249,140.932
                   c26.944,40.779,64.692,72.872,109.183,92.794c1.367,0.609,2.852,0.938,4.359,0.938h-21.335c-1.5,0-2.992-0.328-4.359-0.938
                   c-44.482-19.922-82.238-52.015-109.175-92.794C14.608,323.078,0,274.346,0,223.989C0,162.71,21.99,103.416,61.935,57.043z"/>
           </g>
           <g>
               <path style="fill:#F6BB42;" d="M373.328,415.981c0,5.891-4.781,10.672-10.687,10.672c-5.875,0-10.656-4.781-10.656-10.672
                   s4.781-10.672,10.656-10.672C368.547,405.309,373.328,410.091,373.328,415.981z"/>
               <path style="fill:#F6BB42;" d="M351.985,437.308c0,5.891-4.781,10.672-10.656,10.672c-5.906,0-10.688-4.781-10.688-10.672
                   s4.781-10.655,10.688-10.655C347.204,426.653,351.985,431.418,351.985,437.308z"/>
               <path style="fill:#F6BB42;" d="M330.641,415.981c0,5.891-4.765,10.672-10.654,10.672c-5.891,0-10.655-4.781-10.655-10.672
                   s4.765-10.672,10.655-10.672S330.641,410.091,330.641,415.981z"/>
               <path style="fill:#F6BB42;" d="M309.332,437.308c0,5.891-4.781,10.672-10.688,10.672c-5.875,0-10.656-4.781-10.656-10.672
                   s4.781-10.655,10.656-10.655C304.551,426.653,309.332,431.418,309.332,437.308z"/>
               <path style="fill:#F6BB42;" d="M287.988,415.981c0,5.891-4.781,10.672-10.656,10.672c-5.898,0-10.679-4.781-10.679-10.672
                   s4.78-10.672,10.679-10.672C283.207,405.309,287.988,410.091,287.988,415.981z"/>
               <path style="fill:#F6BB42;" d="M266.653,437.308c0,5.891-4.773,10.672-10.664,10.672c-5.89,0-10.664-4.781-10.664-10.672
                   s4.773-10.655,10.664-10.655S266.653,431.418,266.653,437.308z"/>
               <path style="fill:#F6BB42;" d="M245.325,415.981c0,5.891-4.781,10.672-10.671,10.672c-5.891,0-10.664-4.781-10.664-10.672
                   s4.773-10.672,10.664-10.672C240.544,405.309,245.325,410.091,245.325,415.981z"/>
               <path style="fill:#F6BB42;" d="M223.99,437.308c0,5.891-4.772,10.672-10.663,10.672c-5.89,0-10.671-4.781-10.671-10.672
                   s4.781-10.655,10.671-10.655C219.218,426.653,223.99,431.418,223.99,437.308z"/>
               <path style="fill:#F6BB42;" d="M202.656,415.981c0,5.891-4.773,10.672-10.664,10.672s-10.664-4.781-10.664-10.672
                   s4.773-10.672,10.664-10.672C197.882,405.309,202.656,410.091,202.656,415.981z"/>
               <path style="fill:#F6BB42;" d="M181.328,437.308c0,5.891-4.781,10.672-10.671,10.672s-10.664-4.781-10.664-10.672
                   s4.773-10.655,10.664-10.655C176.547,426.653,181.328,431.418,181.328,437.308z"/>
               <path style="fill:#F6BB42;" d="M159.993,415.981c0,5.891-4.773,10.672-10.663,10.672c-5.891,0-10.672-4.781-10.672-10.672
                   s4.781-10.672,10.672-10.672C155.219,405.309,159.993,410.091,159.993,415.981z"/>
           </g>
           </svg></button><br>
            <button class="button" onclick="goToPage('bedroom.html')"><svg height="80px" width="80px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 512.001 512.001" xml:space="preserve">
           <path style="fill:#2C6991;" d="M53.772,436.019c-9.684,0-17.534-7.851-17.534-17.534v-29.224c0-9.684,7.851-17.534,17.534-17.534
               s17.534,7.851,17.534,17.534v29.224C71.306,428.168,63.455,436.019,53.772,436.019z"/>
           <path style="fill:#528FB3;" d="M53.772,436.019c-9.352,0-17.534-7.851-17.534-17.534v-29.224c0-9.684,8.183-17.534,17.534-17.534
               V436.019z"/>
           <path style="fill:#2C6991;" d="M457.059,436.019c-9.684,0-17.534-7.851-17.534-17.534v-29.224c0-9.684,7.851-17.534,17.534-17.534
               c9.684,0,17.534,7.851,17.534,17.534v29.224C474.594,428.168,466.743,436.019,457.059,436.019z"/>
           <path style="fill:#528FB3;" d="M457.059,436.019c-9.352,0-17.534-7.851-17.534-17.534v-29.224c0-9.684,8.183-17.534,17.534-17.534
               V436.019z"/>
           <path style="fill:#2C6991;" d="M401.916,75.982H110.083c-29.761,0-53.974,23.788-53.974,53.027v55.685
               c0,9.684,7.851,17.534,17.534,17.534h364.712c9.684,0,17.534-7.851,17.534-17.534v-55.685
               C455.89,99.77,431.678,75.982,401.916,75.982z"/>
           <path style="fill:#528FB3;" d="M261.845,75.982H110.083c-29.761,0-53.974,23.788-53.974,53.027v55.685
               c0,9.684,7.851,17.534,17.534,17.534h188.201V75.982z"/>
           <path style="fill:#FB5858;" d="M487.722,227.469l-32.787-48.441c-2.358-6.899-8.882-11.867-16.579-11.867H86.502
               c-2.464,0-4.807,0.513-6.933,1.431c-7.269-2.417-15.539,0.145-20.044,6.801L24.278,227.47c-5.427,8.02-3.327,18.922,4.693,24.349
               c3.012,2.039,6.429,2.776,9.812,2.776c5.624,0,11.148-2.102,14.537-7.947h405.36c3.39,5.845,8.913,7.947,14.537,7.947
               c3.382,0,6.8-0.858,9.812-2.895C491.049,246.271,493.151,235.489,487.722,227.469z"/>
           <path style="fill:#FF835D;" d="M261.845,167.16H86.502c-2.464,0-4.807,0.513-6.933,1.431c-7.269-2.417-15.539,0.145-20.044,6.801
               L24.278,227.47c-5.427,8.02-3.327,18.922,4.693,24.349c3.012,2.039,6.429,2.776,9.812,2.776c5.624,0,11.148-2.102,14.537-7.947
               h208.524V167.16z"/>
           <path style="fill:#2C6991;" d="M494.566,208.139c-9.684,0-17.434,8.117-17.434,17.469H34.869c0-9.352-7.75-17.469-17.434-17.469
               C7.75,208.139,0,216.056,0,225.74v155.883c0,9.684,7.65,16.99,17.334,16.99h477.332c9.684,0,17.334-7.306,17.334-16.99V225.74
               C512,216.056,504.25,208.139,494.566,208.139z"/>
           <path style="fill:#528FB3;" d="M261.845,225.608H34.869c0-9.352-7.75-17.469-17.434-17.469C7.75,208.139,0,216.056,0,225.74v155.883
               c0,9.684,7.65,16.99,17.334,16.99h244.51V225.608z"/>
           <path style="fill:#C44545;" d="M388.091,182.357H123.909c-9.684,0-17.534-7.851-17.534-17.534c0-9.684,7.851-17.534,17.534-17.534
               h264.183c9.684,0,17.534,7.851,17.534,17.534C405.626,174.506,397.775,182.357,388.091,182.357z"/>
           <path style="fill:#FB5858;" d="M261.845,182.357H123.909c-9.684,0-17.534-7.851-17.534-17.534c0-9.684,7.851-17.534,17.534-17.534
               h137.936V182.357z"/>
           </svg></button>
        </div>
    </div>

    <script>
        function goToPage(page) {
            window.location.href = page;
        }
    </script>
</body>
</html>
